body {
	background-color: #abf0d1;
}


/* navbar class */
.navbar {
	border-radius: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.navbar li:last-child{
	float: right;
}

.navbar li a:hover {
	background-color: #111;
}

.popup {
	height: 100%;
	width: 100%;
	display: none;
 	position: fixed;
	z-index: 20;
}

.dialog {
	margin: 30px auto;
	width: 300px;
	top: 50%;
	background: #FFF;
	border-radius: 5px;
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.dialog h1{
	border-bottom: solid 1px #d8d8d8;
	padding: 15px;
	color: gray;
	font-size: 25px;
}

.dialog div {
	padding: 10px 15px;
}

.header {
	border-bottom: solid 1px #d8d8d8;
}


/* debt list classes */
.balance-section {
	padding: 5px 10px;
	text-align: center;
	margin: auto;
	background-color: white;
	width: 40%;
	border-radius: 5px;
	margin-top: 3%;
}

.debt-section {
	margin-top: 2%;
	width: 45%;
	display: inline-block;
	background-color: #333;
	border-radius: 5px;
	padding: 5px 20px;
	vertical-align: top;
}

.debt-section h1 {
	text-align: center;
	font-size: 40px;
	color: white;
}

.debt-list div {
	margin: 10px 0 10px 0;
	border-radius: 2px;
	background-color: white;
	padding: 0px 10px;
}

.info-text{
	width: 50%;
	display: inline-block;
}
.info-text p:first-child{
	color: gray;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.info-text p:last-child{
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 30px;
}

.money-delete {
	width: 50%;
	display: inline-block;
	position: relative;
}
.delete-mark {
	padding: 0px 2px;
	font-size: 12px; 
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.delete-mark:hover {
	background-color: #c3c3c3;
}


.money-text{
	font-size: 40px;
	color: #1bad1b;
	text-align: right;
}

.button-section{
	border-top: solid 1px #94d2b5;
	margin: 3%;
	padding-top: 3%;
	text-align: center;
}

.debt-entry:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#topay .debt-entry:hover{
	box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.2), 0 6px 20px 0 rgba(224, 224, 224, 0.19);
}

.add-debt{
	width: 250px;
	font-size: 25px;
}

.more-info{
	border-top: solid 1px #d8d8d8;
}

.more-info-label{
	color: gray;
	font-size: 15px;
}

.more-info-text {
	font-size: 15px;
}

/* add debt elements */
.add-debt-form{
	position: relative;
	top: 120px;
	font-size: 25px;
	margin: auto;
	width: 500px;
	color: #333;
}

.form-col{
	padding-right: 10px;
	padding-left: 0;
}

.form-col label{
	width: 100%;
	text-align: right;
	margin: 7px 0;
}

.form-col .form-group{
	margin: 5px 0;
}

.form-control{
	font-size: 25px;
	height: 40px;
}
.input-group-addon{
	font-size: 25px;
}

#from, #to{
	width: 300px;
}
#amount {
	width: 250px;
}


/* login page */

.login-section{
	margin: 8% auto auto auto;
	width: 70%;
	border-radius: 5px;
	background-color: #73b998;
	color: white;
	padding: 3%;
	vertical-align: text-top;
}

.login-label{
	margin: auto auto 5% 3%;
	font-size: 90px;
}

.login-col label {
	width: 100%;
	font-size: 40px;
	text-align: right;
}

/* canvas page */
#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;	
}