body {
	background-color: #abf0d1;
}


/* navbar class */
.navbar {
	border-radius: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.navbar li:last-child{
	float: right;
}

.navbar li a:hover {
	background-color: #111;
}

/* debt list classes */
.debt-section {
	margin-top: 5%;
	width: 45%;
	display: inline-block;
	background-color: #333;
	border-radius: 5px;
	padding: 5px 20px;
	vertical-align: top;
}

.debt-section h1 {
	text-align: center;
	font-size: 40px;
	color: white;
}

.debt-list div {
	margin: 10px 0 10px 0;
	border-radius: 2px;
	background-color: white;
	padding: 0px 10px;
}

.info-text{
	width: 50%;
	display: inline-block;
}
.info-text p:first-child{
	color: gray;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.info-text p:last-child{
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 30px;
}

.money-text{
	font-size: 40px;
	color: #1bad1b;
	text-align: right;
	width: 50%;
	display: inline-block;
}

.button-section{
	border-top: solid 1px #94d2b5;
	margin: 3%;
	padding-top: 3%;
	text-align: center;
}

.add-debt{
	width: 250px;
	font-size: 25px;
}

/* add debt elements */
.add-debt-form{
	position: relative;
	top: 120px;
	font-size: 25px;
	margin: auto;
	width: 500px;
	color: #333;
}

.form-col{
	padding-right: 10px;
	padding-left: 0;
}

.form-col label{
	width: 100%;
	text-align: right;
	margin: 7px 0;
}

.form-col .form-group{
	margin: 5px 0;
}

.form-control{
	font-size: 25px;
	height: 40px;
}
.input-group-addon{
	font-size: 25px;
}

#from, #to{
	width: 300px;
}
#amount {
	width: 250px;
}

/* login page */

.login-section{
	margin: 8% auto auto auto;
	width: 70%;
	border-radius: 5px;
	background-color: #73b998;
	color: white;
	padding: 3%;
}

.login-label{
	margin: auto auto 5% 3%;
	font-size: 90px;
}

.login-col label {
	width: 100%;
	font-size: 40px;
	text-align: right;
}