{% extends 'finance/base.html' %}
{% load staticfiles %}

{% block header %}
<li> <a> GiveGet <i class="fa fa-money" aria-hidden="true"></i></a></li>
{% endblock %}

{% block content %}
<div class="login-section" style="vertical-align: bottom;">
  <form method="post" class="login-form row" id="signup-form">
      {% csrf_token %}
    <div class="col-md-4 login-col">
      <label for="name"> Your Name: </label>
      <label for="passwrd"> Password: </label>
      <label for="passwrd_confirm"> Confirm: </label>
      {% if form.errors %}
      <label><font style="font-size: 25px; color: #f45f5f">ID already exists</font></label>
      {% endif %}
    </div>
    <div class="col-md-5 login-col">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Name" style="font-size: 40px; width: 150%; height: 50px"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="password1" placeholder="Password" style="font-size: 40px; width: 150%; height: 50px"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="password2" placeholder="Password Again" style="font-size: 40px; width: 150%; height: 50px"/>
      </div>
      <div class="form-group">
        <table width="150%">
        <tr>
          <td width="50%"><button type="submit" class="btn btn-primary" style="font-size: 25px; width: 100%">SignUp</a></td>
          <td width="50%"><a href="{% url 'login' %}" class="btn btn-primary" style="font-size: 25px; width: 100%">Cancel</a></td>
        </tr>
        </table>
      <div>
    </div>
  </form>
</div>
<!--
<div style="text-align: left">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
-->
{% endblock %}