{% load staticfiles %}
<html>
<head>
	<title>GiveGet</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/finance.css' %}">
</head>
<body>
	<ul class="navbar">
		<div class="container">
			<li style="float: right"> <a id="about" href="#"> About </a></li>
			{% block header %}
			{% endblock %}
		</div>
	</ul>
	<div class="popup">
		<div class="dialog">
			<h1> About </h1>
			<div>
        		<p>
		        Add debts and the application will simplify your debt connections.
		        </p><p>
				Website made by <a href="">Hyoungwook Jin </a> and <a href=""> Tae Soo Kim</a>.
		        </p>
		        <div style="text-align: right">
		        	<button id="close-about" class="btn btn-default">Close</button>
		        </div>
	        </div>
        </div>
	</div>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

	<script type="text/javascript" src="{% static 'js/jquery/js/jquery-1.9.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery/js/jquery-ui-1.10.0.custom.min.js' %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>