{% load staticfiles %}
<html>
<head>
	<title>Financing App</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/finance.css' %}">
</head>
<body>
	<ul class="navbar">
		<div class="container">
			<li> <a href="#"> Financing App </a></li>
			<li> <a href="{% url 'new_Money' %}"> New Money </a></li>
			<li> <a href="#"> About </a></li>
		</div>
	</ul>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	
	<script type="text/javascript" src="{% static 'js/jquery/js/jquery-1.9.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery/js/jquery-ui-1.10.0.custom.min.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>