{% extends 'finance/base.html' %}

{% block content %}

<div class="debt-section" style="margin-left: 4%; margin-right: 1%">
	<h1> To Get </h1>
	<div class="debt-list">
		{% for data in UserData %}
			<div>
				<p id = "data">{{ data.get_list }}</p> 
			</div>
		{% endfor %}
	</div>
</div>
<div class="debt-section">
	<h1> To Pay </h1>
	<div class="debt-list" style="margin-left: 1%; margin-right: 4%">
		<div> 
			<div class="info-text"> 
				<p> 21/05/2017 </p>
				<p> Someone </p>
			</div><h2 class="money-text"> ₩30,000 </h2></div>
		<div> something </div>
	</div>
</div>

{% load static %}
	<script src = '{% static "js/money.js" %}'></script>
	<script src = '{% static "js/jquery/js/jquery-1.9.0.min.js"%}'></script>
	<script src = '{% static "js/jquery/js/jquery-ui-1.10.0.custom.min.js"%}'></script>

{% endblock %}