{% extends 'finance/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="debt-section" style="margin-leftft: 4%; margin-right: 1%">
	<h1> To Get </h1>
	<div class="debt-list">
		<div> 
			<div class="info-text"> 
				<p> 21/05/2017 </p>
				<p> Someone </p>
			</div><h2 class="money-text"> ₩100,000 </h2>
		</div>
		<div> 
			<div class="info-text"> 
				<p> 21/05/2017 </p>
				<p> Someonelse </p>
			</div><h2 class="money-text"> ₩5,000 </h2>
		</div>
	</div>
</div>
<div class="debt-section" style="background-color: #416b58">
	<h1> To Pay </h1>
	<div class="debt-list" style="margin-left: 1%; margin-right: 4%">
		<div> 
			<div class="info-text"> 
				<p> 21/05/2017 </p>
				<p> Hyoungwook </p>
			</div><h2 class="money-text"> ₩30,000 </h2>
		</div>
		<div> 
			<div class="info-text"> 
				<p> 21/05/2017 </p>
				<p> Tae Soo </p>
			</div><h2 class="money-text"> ₩50,000 </h2>
		</div>
	</div>
</div>
<div class="button-section">
	<button class="btn btn-success add-debt" > Add New Debt</button>
</div>


<div class="well add-debt-form" hidden>
	<form class="form-inline row" id="debt-form">
		<div class="col-md-4 form-col">
			<label for="from">Owed by:</label>
			<label for="to">Owed to:</label>
			<label for="amount">Amount:</label>
		</div>
		<div class="col-md-8 form-col">
			<div class="form-group">
				<input type="text" class="form-control" id="from">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="to">
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">₩</span>
					<input type="number" class="form-control" placeholder="Price" id="amount"/>
				</div>
			</div>
		</div>
		<div style="text-align: center">
			<button type="submit" form="debt-form" value="Submit" class="btn" id="submit-btn" style="font-size: 25px; margin-top: 5px">Submit</button>
		</div>
	</form>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/home_page.js' %}"></script>
{% endblock %}