{% extends 'finance/base.html' %}
{% load staticfiles %}

{% block header %}
<li> <a href="{% url 'home_page' %}"> GiveGet <i class="fa fa-money" aria-hidden="true"></i></a></li>
<li> <a href="{% url 'new_Money' %}"> New Money </a></li>
<li style="float: right"><a href="{% url 'logout' %}"> Logout: {{ name }}</a></li>
{% endblock %}

{% block content %}
<div class="balance-section">
	<h1 style="color: #333"> Net Balance </h1>
	<div style="border-top: solid 1px #d8d8d8">
	{% if balance < 0 %}
		<h1 style="color: red; font-size: 60px"> ₩{{ balance }}</h1>
	{% else %}
		<h1 style="color: green; font-size: 60px"> ₩{{ balance }}</h1>
	{% endif %}
	</div>
</div>

<div class="debt-section"  style="background-color: #416b58; margin-left: 4%; margin-right: 1%">
	<h1> To Get </h1>
	<div class="debt-list">
		{% for get in Getlist %}
		<div class="debt-entry" data-id="{{ get.pk }}"> 
			<div class="info-text"> 
				<p> Last Update: {{ get.time }} </p>
				<p> <span style="color:green">&#8592;</span> {{ get.giver }} </p>
			</div><div class="money-delete">
				<span class="delete-mark"> &#10006; </span>
				<h2 class="money-text"> ₩{{ get.money }} </h2>
			</div>
			<div class="more-info row" data-hidden="true" hidden>
				<div class="col-md-3 more-info-label">
					<p> Information: </p>
				</div>
				<div class="col-md-9 more-info-text">
					<p> {{ get.text }} </p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="debt-section" id="topay" style="margin-left: 1%">
	<h1> To Pay </h1>
	<div class="debt-list">
		{% for pay in Paylist %}
		<div class="debt-entry" data-id="{{ pay.pk }}"> 
			<div class="info-text"> 
				<p> Last Update: {{ pay.time }} </p>
				<p> <span style="color:red">&#8594;</span> {{ pay.receiver }} </p>
			</div><div class="money-delete">
				<p class="delete-mark"> &#10006; </p>
				<h2 class="money-text" style="color:red"> ₩{{ pay.money }} </h2>
			</div>
			<div class="more-info row" data-hidden="true" hidden>
				<div class="col-md-3 more-info-label">
					<p> Information: </p>
				</div>
				<div class="col-md-9 more-info-text">
					<p> {{ pay.text }} </p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/home_page.js' %}"></script>
{% endblock %}