{% extends 'finance/base.html' %}

{% block content %}
<div class="add-debt-form">
	<form method = "POST" class="form-inline row" id="debt-form">
		{% csrf_token %}
		<div class="col-md-4 form-col">
			<label for="receiver">Owed to:</label>
			<label for="giver">Owed by:</label>
			<label for="money">Amount:</label>
			<label for="text">For?:</label>
		</div>
		<div class="col-md-8 form-col">
			<div class="form-group">
				<input name="receiver" type="text" class="form-control" placeholder="Name" style="width: 100%"/>
			</div>
			<div class="form-group">
				<input name="giver" type="text" class="form-control" placeholder="Name" style="width: 100%"/>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">₩</span>
					<input name="money" type="number" size="16" class="form-control" placeholder="Price" style="width:84%"/>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<textarea name="text" placeholder="Why did you owe money?" cols="26" style="width:87%"></textarea>
				</div>
			</div>
			<button type="submit" value="Submit" class="btn" style="font-size: 25px; margin-top: 5px; width: 87%">Submit</button>
		</div>
	</form>
</div>

{% endblock %}